/* HEADER - START*/

.header{
    box-shadow: 0px 0px 4px 0px #8D8C8B;


    &-logo{

        @include media(765){
            width: 90px;
            height: 60px;

            img{
                width: 100%;
                height: 100%;
            }
        }
        
    }
    &-row{
        @extend %flex-between;
        justify-content: space-between;
        
    }
    &-nav{
        @extend %flex-between;
        gap: 40px;


        @include media(1145){
            gap: 20px;
        }
        @include media(970){
            display: none;
        }
        

        a{
            color: $grey-color;
            font-size: 15px;
            font-weight: 700;

            &.active{
                color: $black-color;
            }

            &:hover{
                color: $black-color;
            }
        }

    }

    &-button{
        @extend %flex-between;
        gap: 12px;
    }
    &-buttons{
        display: inline-flex;
        padding: 18px 36px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 8px;
        background: $orange-color;

        P{
            color: $white-color;
            font-family: $main-font;
            font-size: 16px;
            font-weight: 600;

            @include media(765){
                font-size: 12px;
            }
        }

        &:hover{
            background-color: rgb(247, 104, 52);
        }

        @include media(765){
            padding: 12px 20px;
        }
    }
    &-uz{
        @extend %flex-between;
        gap: 8px;
        width: 83px;
        height: 55px;
        padding: 16px 11px 15px 18px;
        justify-content: flex-end;
        border-radius: 8px;
        border: 1px solid $black2-color;
        background: $white-color;

        @include media(970){
            display: none;
        }

        &__text{
            color: $black2-color;
            font-family: $main-font;
            font-size: 16px;
            font-weight: 600;
        }

        &:hover{
            background-color: rgb(240, 239, 239);
        }
    }


    &-mobile{
        width: 55px;
        height: 55px;
        display: none;

        @include media(765){
            width: 39px;
            height: 39px;
        }

        &__svg{
            width: 100%;
            height: 100%;
            
            svg{
                width: 100%;
                height: 100%;
            }
        }

        @include media(970){
            display: block;
        }
    }
}

/* HEADER - END*/