// Variables start

$grey-color:#8D8C8B;
$black-color:#1C1917;
$black2-color:#555351;
$orange-color:#FF8541;
$white-color:#fff;

$text-color:#778CEB;
$red-color:#ED145B;
$green-color:#8DC63F;
$main-font: 'Montserrat',sans-serif;

%flex-between{
  display: flex;
  align-items: center;
  
}

// Variables end